<div class="p-2">
    <div class="overflow-x-auto">
        <div>
            <p>Naziv natjecanja: {{result.competitionInfo.name}}</p>
            <p>Opis natjecanja: {{result.competitionInfo.description}}</p>
            <p>ID autora: {{result.competitionInfo.author_id}}</p>
            <p>Prijave do: {{result.competitionInfo.apply_till}}</p>
            <p>Veličina tima: {{result.competitionInfo.team_size}}</p>
        </div>
        <div>
            <h1 class="font-bold text-xl mt-4">TIMOVI:</h1>
        </div>
    </div>