<div class="p-2">
    <div class="overflow-x-auto">
        <div>
        </div>
        <div>
           
            <a href="/competitions/izvjesce/{{competitionId}}" class="btn btn-neutral btn-sm">Izvjesce</a>
        </div>
        {{#unless team}}
        <table class="table">
            <!-- head -->
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Ime</th>
                    <th>Bodovi</th>
                    <th>Prijavljen</th>
                    <th>Mogućnosti</th>
                </tr>
            </thead>
            <!-- body -->
            <tbody>
                {{#each result.items}}
                <tr>
                    <th>{{this.id}}</th>
                    <td>{{this.name}}</td>
                    <td>{{this.score}}</td>
                    <td x-data="{}">
                        <span x-text="new Date('{{this.apply_time}}').toLocaleString()"></span>
                    </td>
                    <td class="flex flex-wrap gap-2">
                        {{#if ../user.is_admin }}
                        <form method="post" action="/competitions/updatescore/{{this.id}}">
                            <input name="score"
                                class="shadow appearance-none border rounded w-[70px] h-[36px] text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                id="score" type="number" placeholder="">
                            <button type="submit" class="btn btn-accent btn-sm">Upisi bodove</button>
                        </form>
                        <!-- <a href="/competitions/edit/{{this.id}}" class="btn btn-accent btn-xs">Upisi bodove</a> -->
                        <a href="/competitions/delete/competitor/{{this.id}}" class="btn btn-error btn-sm">Obrisi prijavu</a>
                        {{/if}}
                    </td>

                </tr>
                {{/each}}
            </tbody>
        </table>
        {{/unless}}
        {{#if team}}
        <table class="table">
        <thead>
                <tr>
                    <th>ID</th>
                    <th>Ime</th>
                    <th>Clanovi tima</th>
                    <th>Bodovi</th>
                    <th>Mogućnosti</th>
                </tr>
            </thead>
            <tbody>
                {{#each result.items}}
                <tr>
                    <th>{{this.id_team}}</th>
                    <td>{{this.name}}</td>
                    <td>{{this.teamMembers}}</td>
                    <td>{{this.score}}</td>
                    <td class="flex flex-wrap gap-2">
                        {{#if ../user.is_admin }}
                        <form method="post" action="/competitions/team/updatescore/{{this.id_team}}">
                            <input name="score"
                                class="shadow appearance-none border rounded w-[70px] h-[36px] text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                id="score" type="number" placeholder="">
                            <button type="submit" class="btn btn-accent btn-sm">Upisi bodove</button>
                        </form>
                        <!-- <a href="/competitions/edit/{{this.id}}" class="btn btn-accent btn-xs">Upisi bodove</a> -->
                        <a href="/competitions/delete/TODO/{{this.id_team}}" class="btn btn-error btn-sm">Obrisi prijavu</a>
                        {{/if}}
                    </td>

                </tr>
                {{/each}}
            </tbody>
            </table>
        {{/if}}
    </div>
</div>